@import url(https://fonts.googleapis.com/css?family=Inconsolata);
div{
	font-family: 'Inconsolata' ;
}
.espacio{
 margin-bottom: 20px;
}
.menu{
	text-decoration: none;
	margin: 5px;
	padding: 5px; 
}
.bg-black{
	background-color: black;
}
.fondo{
	width: 750px;
	height: 500px;
	padding: 30px;
}
.boton-uno{
	margin-left: 20px;
	margin-top:20px; 
	border-radius: 40px;
}
.b-dos{
	padding: 7px;
	margin-left: 500px;
}
a{
	text-decoration: none;
	color: pink;
}
input{
	padding: 10px;

}
.b-tres{
	width: 80px;
	height: 20px;
	border-radius: 10px;
	background-color: #FF69B4;
	margin-bottom: 5px;
	margin-left: 10px;
}
.b-cuatro{
	background-color: transparent;
}
.borde-punteado{
	border:groove;
	color: gray;
}
.img-1{
	width: 90px;
	height: 90px;
	margin-left: 10px;
}
.img-2{
	border-radius: 50%;
	border:dashed white;
	width: 50px;
}
.tam{
	width: 20px;
	height: 20px;
}
 img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
a:hover{
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	background-color: #FF69B4 ;
}
